{% extends "base.html" %}

{% block content %}
<section id="intro">
   <p>This is my introductory machine learning modeling website.  It's
   designed to allow users to input some data about houses, and will give
   a prediction for the house price.  <br><br>
   
   The data used to train this model can be found on 
   <a href="https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data">this website</a> 
   on <a href="https://www.kaggle.com>Kaggle</a>.  It should be evident from 
   the choices presented to the user which features of the data were used
   to train this model.  
   </p>
 
</section>

{% endblock %}
